.wrapper{
    display:grid;
    grid-template-columns: 100px 800px 50px 800px auto;
    grid-auto-rows: 50px auto;
    grid-gap:1em;
    justify-items:stretch;
    align-items:stretch;
}


/* HEADER ROW */
.grid-logo{
    /*align-self:start;*/
    grid-column:1;
    grid-row:1;
}

.grid-app_name{
    grid-column:2;
    grid-row:1;
}

.grid-main {
    grid-column:2;
    grid-row:2;
    /* border: 1px solid #ccc;
       border-radius: 10px; */
    /* padding: 10px; */
}

.grid-component {
    padding: 10px;
    margin: 10px;   
}

.grid-rightpanel {
    margin-top: 10px;
    grid-column:4/10;
    grid-row:2;
}

